# Copyright (c) 2022-present New Relic Corporation. All rights reserved.
# SPDX-License-Identifier: Apache-2.0 

---
name: "release npm publish"

# Controls when the action will run.
# Workflow runs when manually triggered using the UI
# or API, or when code is merged to main branch.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      confirmation:
        # Description to be shown in the UI
        description: 'Are you sure you want to release?'
        type: boolean
        # Default value if no value is explicitly provided
        default: false
        # Input has to be provided for the workflow to run
        required: true
  push:
    branches:
      - main
    paths:
      - 'package.json'

permissions:
  # In order to create the git tag, we must have write permissions.
  contents: write
  # This is important. Trusted Publishing requires this for the OIDC exchange.
  id-token: write

# A workflow run is made up of one or more jobs
# that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  release:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    
    outputs:
      version: ${{ steps.version_check.outputs.current_version }}

    strategy:
      matrix:
        node-version: [24.x]
        os: [ubuntu-latest]

    # Steps represent a sequence of tasks that
    # will be executed as part of the job
    steps:
      - name: Checkout the release branch for testing
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5 # https://github.com/actions/setup-node
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: |
          if [ -e yarn.lock ]; then
          yarn install --frozen-lockfile
          elif [ -e package-lock.json ]; then
          npm ci
          else
          npm i
          fi

      - name: Get current version
        id: version_check
        run: |
          VERSION=$(jq -r '.version' package.json)
          echo "current_version=$VERSION" >> $GITHUB_OUTPUT

      - name: Publish as NPM package on new relic account(we need npm secret from new relic account)
        env:
          NODE_AUTH_TOKEN: ${{secrets.MOBILE_AGENT_NPM_TOKEN}}
        run: npm publish

      - name: create tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git tag v$(jq -r '.version' package.json)
          git push --tags

      - name: create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create v$(jq -r '.version' package.json) --generate-notes

      - name: Capture logs if previous failure
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.workflow }}-npm-logs
          path: |
            /home/runner/.npm/_logs/
      # Check ENV variables
      - name: Check environmental variables
        if: ${{ always() }}
        run: printenv | sort -f
        
  update-documentation:
    needs: release
    runs-on: ubuntu-latest
    env:
      AGENT_NAME: "capacitor"
      AGENT_TITLE: "Capacitor agent"
      DOCS_PATH: "src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes"
      REPO_URL: "https://github.com/newrelic/newrelic-capacitor-plugin"
      BOT_EMAIL: ${{ secrets.BOT_EMAIL }}
      # We use the version output from the release job
      PASSED_VERSION: ${{ needs.release.outputs.version }}

    steps:
      - name: Checkout Agent Repo
        uses: actions/checkout@v4
        with:
          path: agent-repo

      - name: Checkout Docs-Website
        uses: actions/checkout@v4
        with:
          repository: newrelic/docs-website
          ref: develop
          token: ${{ secrets.BOT_PAT }}
          path: docs-website
          fetch-depth: 1

      - name: Generate Release Document
        working-directory: agent-repo
        env:
          GH_TOKEN: ${{ secrets.BOT_PAT }}
        run: |
          chmod +x ./.github/scripts/generate-docs.sh
          ./.github/scripts/generate-docs.sh
          
          if [ -f "release_info.env" ]; then
            cat release_info.env >> $GITHUB_ENV
          else
            echo "::error::Script failed to create release_info.env"
            exit 1
          fi

      - name: Create branch, commit, and PR
        env:
          GH_TOKEN: ${{ secrets.BOT_PAT }}
        run: |
          cd docs-website
          VERSION="${{ env.FINAL_VERSION }}"
          VERSION_STRIPPED=$(echo "${VERSION}" | tr -d '.')
          FINAL_FILENAME="${{ env.AGENT_NAME }}-agent-${VERSION_STRIPPED}.mdx"
          BRANCH_NAME="${{ env.AGENT_NAME }}_release_notes_$(echo ${VERSION} | tr '.' '-')"
          
          git config user.name "newrelic-mobile-agent-bot"
          git config user.email "${{ env.BOT_EMAIL }}"
          
          git checkout -b "$BRANCH_NAME"
          cp ../agent-repo/release-notes.mdx "${{ env.DOCS_PATH }}/$FINAL_FILENAME"
          
          git add .
          git commit -m "chore(${{ env.AGENT_NAME }} agent): add release notes v${VERSION}"
          git push origin "$BRANCH_NAME"

          gh pr create \
            --repo newrelic/docs-website \
            --base develop \
            --head "$BRANCH_NAME" \
            --title "${{ env.AGENT_TITLE }} Release Notes v${VERSION}" \
            --body "Automated PR for ${{ env.AGENT_TITLE }} v${VERSION} release." \
            --label "documentation"